@font-face {
  font-family: "Sofia Sans Condensed";
  src: url("./Sofia_Sans_Condensed/SofiaSansCondensed-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Sans Condensed";
  src: url("./Sofia_Sans_Condensed/SofiaSansCondensed-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "The Last Shuriken";
  src: url("./the-last-shuriken-2.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
